<% if @answer.errors.present? %>
	<% @answer.errors.full_messages.each do |message| %>
		$('.form-errors').html('<div class="alert-box alert"><%= j message %></div>');
	<% end %>
<% else %>
	$('.answers').html('<%= j render 'questions/answers' %>');
	$('#new_answer').find('#answer_body').val('');
<% end %>
