<% if @answer.errors.present? %>
  <% @answer.errors.full_messages.each do |message| %>
    $('#answer_errors_<%= @answer.id %>').html('<div class="alert-box alert"><%= j message %></div>');
  <% end %>
<% else %>
  $('.answers').html('<%= j render 'questions/answers' %>');
<% end %>
